@layout('layout/main')

@section('title')
Home |
@endsection

@section('content')
<h2>📝 Todo List</h2>

<form method="POST" action="/todos">
  {{ csrfField() }}
  <input type="text" name="title" placeholder="New todo..." required />
  <button type="submit">Add</button>
</form>

<hr />

<ul>
  <li>
    <span>Buy Groceries</span>
  </li>
  <li>
    <span>Walk the Dog</span>
  </li>
  <li>
    <span>Code AdonisJS</span>
  </li>
</ul>
@endsection
